 <li class="nota">
    <h3>{title}</h3>
    <p>{details}</p>

    <form action="/delete" method="POST"  style="display:inline;">
      <input type="hidden" name="note_id" value='{id}'>
      <button class='bot_excluir' type="submit" name="delete_button">Excluir</button>
    </form>

    <form action='/edicao/{id}' method="GET" style="display:inline;">
      <input type="hidden" name='nome_de_edicao'  value="{id}">
      <button class="bot_editar" type="submit" name='edit_button'>
        Editar
      </button>
    </form>   
    
    <form action='/favorite/{id}' method="POST" style="display:inline;">
      <input type="hidden" name='current_favorite'  value="{favorite_value}">
      <button class='bot_favorito' class="card" type="submit" name='favorite_button'>
        {favorite}
      </button>
    </form>   
  </li>
